#map{
	margin-left: 4vw;
	margin-top: 10px;
	background: steelblue;
	border: 10px rgb(184, 140, 31) groove;
	border-radius: 2%;

}

.mapLayer{
	position: absolute;  
}

#hover_indicator{
	font-size: 250%;

	border: 10px rgb(184, 140, 31) groove;
	border-radius: 5%;
	padding: 4px;

	width: 60%;

	position: relative;
	top: 200px;
	left: 850px;
}