/* all *******************************************************************************/
body {
    font-family: Arial, Helvetica, sans-serif;
}


/* country-info.php *****************************************************************/

/* for flag */
#flag {
    float: left;
    width: 50px;
    height: 33px;
    padding: 5px;
    background-color: #777;
}

/* table of country info */
table#country_data {
    margin-top: 20px;
}

table#country_data th {
    text-align: right;
}

table#country_data td {
    padding-left: 20px;
}

/* message saying no bordering countries */
p#no_bordering_euro_countries {
    color: red;
    font-weight: bold;
}

/* list of bordering countries */
ul#bordering_countries {
    list-style-type: none;
}

/* header.php ****************************************************************************/
header ul li {
    display: inline;
    list-style-type: none;
    margin-right: 40px;
    color: white;
    font-weight: bold;
}

header ul li a {
    text-decoration: none;
    color: white;
}

header ul li a:hover, header ul li a:focus {
    color: #AAA;
}

header {
    margin-top: 0;
    width: 100%;
    background-color: #003399;
}

header h1 {
    margin-top: 0;
    padding-top: 10px;
    color: #ffcc00;
}

header nav {
    padding-bottom: 15px;
}

img#eu_flag {
    float: left;
}

/* footer.php ****************************************************************************/
p#dedication {
    text-align: right;
    margin-top: 75px;
    margin-right: 15px;
}

/* list.php ********************************************************************************/
div.colOne {
    height: 250px;
    float: left;
    width: 45%;
}

div.colTwo {
    height: 250px;
    float: right;
    width: 45%;
}

ul.group_countries li {
    list-style-type: none;
}

div.clear {
    clear: both;
}

/* all *********************************************************************************/
main {
    margin-left: 15px;
}